@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: #C69B7B;
}

.wave {
    position: relative;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.current a {
    color: #d1b37b;
}

/* Header */
header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 10vh;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: 0.5s ease;
}

header .brand a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

header .brand span {
    color: #d1b37b;
}

header ul {
    list-style: none;
    position: absolute;
    background-color: #3A3845;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}

header ul.active {
    left: 0%;
}

header ul li a {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    transition: color 0.5s ease;
}

header ul li a:hover {
    color: #F7CCAC;
}

header ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 1rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

header ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
}

header .hamburger::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    animation: hamburger_puls 1s ease infinite;
}

header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

header .hamburger .bar::after,
header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}

header .hamburger .bar::after {
    top: 8px;
}

header .hamburger .bar::before {
    bottom: 8px;
}

header .hamburger.active .bar::before {
    bottom: 0;
}

header .hamburger.active .bar::after {
    top: 0;
}

/* Arrow */
#btn {
    z-index: 1000;
    position: fixed;
    right: 3%;
    bottom: 3%;
    opacity: 0;
    transition: all 0.5s;
}

#btn img {
    filter: invert(1);
}

#btn:hover {
    transform: translateY(-50%);
}

/* Banner */
#banner {
    background-image: url(./img/bakery.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#banner .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#banner .banner-txt {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#banner .banner-txt h2 {
    color: #ffffff;
    font-size: 4em;
    margin-bottom: 20px;
}

#banner .banner-txt h2 span {
    color: #d1b37b;
}

#banner .banner-txt p {
    text-align: center;
    color: #F7CCAC;
    width: 80%;
    height: auto;
}

.cssbuttons-io-button {
    text-decoration: none;
    background: #826F66;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    margin-top: 50px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #998a83;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #cfad9e;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #826F66;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
    transform: rotate(90deg);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

/* Main */
#about {
    background-color: #F7CCAC;
    min-height: 60vh;
}

#about .container {
    min-height: 60vh;
}

#about .about {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about .about .imageBx {
    position: relative;
    background-image: url(./img/bread.jpg);
    background-size: cover;
    background-position: top center;
    opacity: 0;
    z-index: 1;
}

#about .about .imageBx[data-scroll="in"] {
    opacity: 1;
    transition: 3s;
}

#about .about .imageBx::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .3;
    z-index: -1;
    transition: opacity 0.5s ease;
}

#about .about .imageBx:hover::after {
    opacity: 0;
}

#about .about .textBx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    padding: 30px;
}

#about .about .textBx[data-scroll="in"] {
    opacity: 1;
    transition: 3s;
}

#about .about .textBx h1 {
    font-size: 3rem;
    letter-spacing: 5px;
}

#about .about .textBx p {
    text-align: justify;
    font-size: 0.9rem;
    margin-top: 10px;
}

/* Service Section */
#service {
    background: #C69B7B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#service .service {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#service .container {
    min-height: 100%;
}

#service .content {
    margin-top: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    justify-content: space-around;
    align-items: center;
}

#service .content[data-scroll="in"] {
    opacity: 1;
    transition: 3s;
}

#service .content .card {
    background: #C69B7B;
    box-shadow: 20px 20px 60px #a88469,
        -20px -20px 60px #af8c71;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

#service .card:hover {
    transform: scale(1.1);
}

#service .card .lower-item {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#service .card .lower-item h1 {
    color: #F7CCAC;
    margin: 30px auto 30px;
}

#service .card .lower-item p {
    color: #F7CCAC;
    cursor: default;
    text-align: center;
}

#service .wave {
    display: flex;
}

/* Show Bread */
#show {
    background: #C69B7B;
}

#show .show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#show .show .title {
    width: 95%;
    color: black;
    letter-spacing: 5px;
    font-size: 2.5rem;

}

#show .show .title .line {
    border: 2px solid black;
    width: 400px;
    display: flex;

}

#show .show .content {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: grid;
    opacity: 0;
    grid-template-areas: "item1 item1 item2"
        "item4 item4 item4";
    gap: 10px;
}

#show .show .content[data-scroll="in"] {
    opacity: 1;
    transition: 3s;
}

#show .item-1 {
    position: relative;
    grid-area: item1;
    height: 300px;
    background-image: url(./img/breadBg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    z-index: 1;
}

#show .item-1::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
    transition: opacity 0.5s ease;
}

#show .item-1:hover::after {
    opacity: 0;
}

#show .item-2 {
    position: relative;
    grid-area: item2;
    background-image: url(./img/breadBg2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    z-index: 1;
}

#show .item-2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
    transition: opacity 0.5s ease;
}

#show .item-2:hover::after {
    opacity: 0;
}

#show .item-4 {
    position: relative;
    height: 150px;
    grid-area: item4;
    background-image: url(./img/breadBg4.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    z-index: 1;
}

#show .item-4::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
    transition: opacity 0.5s ease;
}

#show .item-4:hover::after {
    opacity: 0;
}

#show .item-1,
#show .item-2,
#show .item-3,
#show .item-4 {
    cursor: pointer;
}

/* Footer Section */
#footer {
    background-color: #3A3845;
}

#footer .container {
    min-height: 70vh;
}

#footer .footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .footer .line {
    width: 450px;
    border: 1px solid white;
    margin: 10px;
}

#footer .footer h1 {
    color: #F7CCAC;
    font-size: 2rem;
}

#footer .footer .social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .footer .social-media ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .footer .social-media ul li {
    margin: 10px;
    filter: grayscale(1);
    transition: 0.5s ease;
}

#footer .footer .social-media ul li:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

#footer .footer .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .footer .contact ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
}

#footer .footer .contact ul li {
    margin: 5px auto 5px 0;
}

#footer .footer .contact ul li span {
    color: white;
    font-size: 1.2rem;
}

#footer .footer .contact ul li a {
    text-decoration: none;
    color: #696969;
}

#footer .footer .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .footer .logo h1 {
    margin: 10px 0 10px 0;
}

#footer .footer .logo span {
    color: #a88469;
    font-size: 0.8rem;
}

@media only screen and (min-width:1200px) {

    /* Header */
    header .hamburger {
        display: none;
    }

    header ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    header ul li {
        display: inline-block;
    }

    header ul li a {
        font-size: 1.2em;
    }

    header ul::after {
        display: none;
    }

    /* End Header */
}

/* Media Query For Tablet */
@media only screen and (max-width:1200px) {

    /* Banner */
    #banner .banner-txt h2 {
        font-size: 3em;
        margin: 20px auto 20px;
    }

    /* About Us */
    #about h1 {
        font-size: 2rem;
        margin-top: 100px;
    }

    #about .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about .content img {
        width: 50%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    #about .content img:hover {
        transform: scale(1);
    }

    #about .content p {
        text-align: start;
        font-size: 1rem;
    }

    /* Service */
    #service .content {
        flex-wrap: wrap;
    }

    #service .content .card {
        width: 250px;
        height: 250px;
        margin-left: 20px;
        transition: none;
        margin-top: 20px;
    }

    #service .card:hover {
        transform: scale(1);
    }

    #service .card img {
        width: 100%;
    }

    #service .card .lower-item h1 {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    #service .card .lower-item p {
        font-size: 0.6rem;
        text-align: center;
    }


    /* Show */
    .show img.breads {
        width: 60%;
        margin: 80px auto 80px;
        background-color: #F7CCAC;
        border-radius: 500px;
        transition: 0.5s;
        animation: rainbowbg 10s ease infinite;
    }
}

/* Media Query For Phone */
@media only screen and (max-width:760px) {

    /* header */
    header .brand a {
        font-size: 1rem;
    }

    /* Arrow */
    #btn {
        right: 3%;
        bottom: 3%;
    }

    #btn img {
        width: 30px;
    }

    #btn:hover {
        transform: translateY(0);
    }

    /* Banner */
    #banner .banner-txt h2 {
        font-size: 2rem;
    }

    #banner .banner-txt p {
        font-size: 0.8rem;
    }

    #banner .banner a {
        font-size: 0.8rem;
        text-decoration: none;
        color: white;
        margin-top: 50px;
        padding: 20px;
        border: 3px solid #F7CCAC;
        transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

    #banner .banner .cssbuttons-io-button {
        width: 80%;
        font-size: 17px;
    }

    /* About Us */
    #about .about {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 300px;
    }

    #about .about .textBx p {
        font-size: 1rem;
        text-align: start;
    }

    #about .about .textBx h1 {
        font-size: 2.5rem;
    }

    /* Service */
    #service {
        height: 100%;
    }

    #service .service {
        flex-direction: column;
    }

    #service .content {
        flex-direction: column;
    }

    #service .card {
        margin-top: 20px;
        margin-left: 0;
    }

    /* Show */
    #show .show .content {
        width: 100%;
        height: 100%;
        padding: 25px;
        display: grid;
        grid-template-areas: "item1"
            "item2"
            "item3"
            "item4";
        gap: 10px;
    }

    #show .show .title {
        font-size: 1.6rem;
        text-align: center;
    }

    #show .show .title .line {
        width: 200px;
    }

    #show .item-1,
    #show .item-2,
    #show .item-3,
    #show .item-4 {
        font-size: 1.5rem;
    }

    #show .item-2,
    #show .item-4 {
        height: 150px;
    }

    #show .item-3 {
        height: 300px;
    }

    #show .show .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Footer Section */
    #footer .footer .line {
        width: 200px;
    }

    #footer .footer .contact {
        padding: 10px;
    }

    #footer .footer .contact h1,
    #footer .footer .social-media h1 {
        font-size: 1.5rem;
    }

    #footer .footer .contact ul li span {
        font-size: 1rem;
    }

    #footer .footer .contact ul li a {
        font-size: 0.8rem;
    }

    #footer .footer .social-media {
        padding: 10px;
    }

    #footer .footer .logo {
        padding: 10px;
    }

    #footer .footer .logo span {
        font-size: 0.7rem;
    }

    /* contact */
    form {
        margin-top: 50px;
    }
}

/* !Contact.html */
#contact {
    background: #826F66;
    position: relative;
}

#contact .kontak {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: #C69B7B;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
}

form input,
form textarea {
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button {
    --color: #0b8dad;
    font-family: inherit;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px auto 0;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    cursor: pointer;
}

form button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

form button:hover {
    color: #fff;
}

form button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

form button:hover:before {
    top: -30px;
    left: -30px;
}

form button:active:before {
    background: #096d86;
    transition: background 0s;
}

/* !Menu.html */
/* Banner-2 */
#banner-2 {
    background-image: url(./img/bakery2.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#banner-2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#banner-2 .banner-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image";
}

#banner-2 .banner-2 .textBx {
    grid-area: text;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#banner-2 .banner-2 .textBx h1 {
    font-size: 6rem;
    color: #F7CCAC;
    transform: rotate(-90deg);
}

#banner-2 .banner-2 .imgBx {
    grid-area: image;
    background-image: url(./img/cookies.jpg);
    background-size: cover;
}

/* Menu */
#menu {
    background-color: #f5f5f5;
}
#menu .menu {
    width: 100%;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
}
#menu .menu .title {
    position: relative;
    text-align: center;
    border-top: solid 10px rgb(255, 153, 0);
    top: 3em;
    margin: 20 0 3em 0;
}

#menu .menu .title h1 {
    font-size: 3rem;
    background: #f5f5f5;
    position: relative;
    top: -0.65em;
    display: inline;
    margin: 0;
    padding: 0 1em 0 1em;
}
#menu .menu .menu-cookies {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    margin-top: 20px;
    padding: 10px;
}
#menu .menu .menu-cookies .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
}
#menu .menu .menu-cookies .item h2 {
    font-size: 1.2rem;
}
#menu .menu .menu-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}